html,
body,
div,
h1,
h2,
a,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  background-color: #1c582b;
}

h2 {
  font-size: 24px;
}

a {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 8px 12px;
}

a:hover {
  color: #000;
  background-color: #fff;
}

.main {
  width: 100vw;
  max-width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.group {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.row-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.sponsor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.left {
  align-items: flex-end;
}

footer p {
  opacity: 0.5;
  text-align: center;
}

@media (max-width: 1000px) {
  .row-container {
    grid-template-columns: 1fr;
  }
}