body {
  background-color: rgb(10, 10, 10);
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  font-family: "Poppins", sans-serif;
  color: white;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2vw;
}

a {
  color: white;
}
